    GLOBAL_SETTINGS
    LAB_MASTER_SEED stego-audio-dsss-code-extract_student_master_seed
    REGISTRY nktuananh
NETWORK NETWORK-SONET
     MASK 172.20.0.0/24
     GATEWAY 172.20.0.1
CONTAINER alice
     USER ubuntu
     X11 YES
     NETWORK-SONET 172.20.0.10
CONTAINER bob
     USER ubuntu
     X11 YES
     NETWORK-SONET 172.20.0.20
